html{
height: 100%;
}

body {
    background: linear-gradient(15deg, #4bbaba, #999999, #78c9a177);   
}
#converters {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}
input{
    border-radius: 20px;
}